In [5]:
#our ritual of including the libraries 
%matplotlib inline
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import glob
from PIL import Image
import itertools
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
#for saving the model
from sklearn.externals import joblib

In [6]:
k = [[[1, 2, 3, 4], [2, 3, 4, 5]],
     [[1, 2, 6, 4], [2, 3, 4, 8]]]

In [16]:
df = pd.DataFrame() 
for image in k:
    temp_df = pd.DataFrame(image)
    df = pd.concat([df, temp_df])

In [17]:
df

   0  1  2  3
0  1  2  3  4
1  2  3  4  5
0  1  2  6  4
1  2  3  4  8